@inherits BaseComponent

<div class="@css">
    <h2 class="my-1" >@Model.Name</h2>
</div>

@code{
    [Parameter]
    public RoleModel Model { get; set; } = null!;

    protected override void OnParametersSet()
    {
        if (Model is null) throw new ArgumentNullException(nameof(Model));

        css = CreateCss("border shadow p-2")
            .AddClass(Class);
    }
}