@using LetItGrow.Microservice.Data.Irrigations.Requests
@using LetItGrow.Microservice.Data.Irrigations.Models

<div>
    <p>Irrigation node</p>
</div>

@code{
    [Parameter]
    public SearchIrrigations Search { get; set; } = null!;
}