@using LetItGrow.Microservice.Data.NodeGroups.Models
@using LetItGrow.Microservice.Data.NodeGroups.Requests
@using LetItGrow.Microservice.Data.NodeGroups.Validators

@inject INodeGroupService groupService

<EditForm EditContext="EditContext" class="form">
    <FluentValidator Validator="validator" />

    <fieldset>
        <legend>Creating Irrigation Node</legend>

        <div class="form-group">
            <label>Name</label>
            <InputText @bind-Value="Data.Name" />
            <ValidationMessage class="block text-red-400" For="() => Data.Name" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <InputTextArea @bind-Value="Data.Description" />
            <ValidationMessage For="() => Data.Description" />
        </div>
    </fieldset>

    <div class="form-group flex justify-end space-x-2">
        <SpinnerButton Type="ButtonType.submit" Class="btn h-10 w-20" Command="Send">Update</SpinnerButton>
        <button type="button" class="btn-cancel h-10 w-20" @onclick="OnCancelClick">Cancel</button>
    </div>
</EditForm>

@code{
    EditContext EditContext = new(new());
    CreateNodeGroup Data = new();
    CreateNodeGroupValidator validator = new();
    ReactiveCommand<Unit, Unit> Send;

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClick { get; set; }

    public CreateGroupForm()
    {
        Send = ReactiveCommand.CreateFromTask(async () =>
        {
            if (!EditContext.Validate()) return;

            await Task.Delay(500);
            await groupService
                .Create(Data)
                .MatchAsync(HandleResult, HandleError);
        });
    }

    public void SetData(CreateNodeGroup data)
    {
        Data = data;
        EditContext = new(Data);
    }

    protected void HandleResult(NodeGroupModel result)
    {

    }

    protected void HandleError(Error error)
    {
        Console.WriteLine(error);
    }
}