@using LetItGrow.Microservice.Data.NodeGroups.Models
@using LetItGrow.Microservice.Data.NodeGroups.Requests
@using LetItGrow.Microservice.Data.NodeGroups.Validators
@using static LetItGrow.UI.FormHelpers.NodeGroupFormHelper

@inject INodeGroupService groupService

<EditForm EditContext="EditContext" class="form">
    <FluentValidator Validator="validator" />

    <fieldset>
        <legend>Updating Irrigation Node</legend>

        <div class="form-group">
            <label>Name</label>
            <InputText @bind-Value="Data.Name" />
            <ValidationMessage class="block text-red-400" For="() => Data.Name" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <InputTextArea @bind-Value="Data.Description" />
            <ValidationMessage For="() => Data.Description" />
        </div>
    </fieldset>

    <div class="form-group flex justify-end space-x-2">
        <SpinnerButton Type="ButtonType.submit" Class="btn h-10 w-20" Command="Send">Update</SpinnerButton>
        <button type="button" class="btn-cancel h-10 w-20" @onclick="OnCancelClick">Cancel</button>
    </div>
</EditForm>

@code{
    protected EditContext EditContext = new(new());
    protected NodeGroupModel Group = null!;
    protected UpdateNodeGroup Data = new();
    protected UpdateNodeGroupValidator validator = new();
    protected ReactiveCommand<Unit, Unit> Send;

    [Parameter]
    public EventCallback<MouseEventArgs> OnCancelClick { get; set; }

    public UpdateGroupForm()
    {
        Send = ReactiveCommand.CreateFromTask(async () =>
        {
            if (!EditContext.Validate() || !ShouldSentRequest(Data, Group)) return;

            await Task.Delay(500);
            await groupService
                .Update(GenerateRequest(Data, Group))
                .MatchAsync(HandleResult, HandleError);
        });
    }

    public void SetGroup(NodeGroupModel group)
    {
        Group = group;
        Data = GenerateForm(Group);
        EditContext = new(Data);
    }

    protected void HandleResult(NodeGroupModelUpdate result)
    {

    }

    protected void HandleError(Error error)
    {
        Console.WriteLine(error);
    }
}