/* Water Css Dark Variables */
/*:root {
    --background-body: #202b38;
    --background: #161f27;
    --background-alt: #1a242f;
    --selection: #1c76c5;
    --text-main: #dbdbdb;
    --text-bright: #fff;
    --text-muted: #a9b1ba;
    --links: #41adff;
    --focus: #0096bfab;
    --border: #526980;
    --code: #ffbe85;
    --animation-duration: 0.1s;
    --button-hover: #324759;
    --scrollbar-thumb: var(--button-hover);
    --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(+8%));
    --form-placeholder: #a9a9a9;
    --form-text: #fff;
    --variable: #d941e2;
    --highlight: #efdb43;
    --select-arrow: svg-load('./assets/select-arrow.svg', fill: #efefef);
}
*/

@import "../../CoreWeb/wwwroot/app.css";

app {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main";
    @apply mx-1;
}

.header {
    grid-area: header;
    @apply my-1 px-2 shadow;
}

.main {
    grid-area: main;
    @apply mb-2 px-2 shadow;
}

@screen 2xl {
    body {
        width: 900px;
        max-width: 900px;
    }
}

@tailwind utilities;