@using LetItGrow.Microservice.Data.Measurements.Requests
@using LetItGrow.Microservice.Data.Measurements.Models

<div>
    <p>Measurement node</p>
</div>

@code{
    [Parameter]
    public SearchMeasurements Search { get; set; } = null!;
}