@page
@model LoginModel
@{
    ViewData.SetTitle("LetItGrow - Log in");
}

<div class="px-20 py-14 w-full max-w-lg bg-gray-100 border rounded-lg shadow-2xl">
    <div class="mb-12 text-2xl">LetItGrow</div>

    <form id="account" method="post">
        <div class="mb-4">
            <label asp-for="Input.Email"
                   class="mb-2 block font-semibold text-gray-700 text-lg tracking-wide leading-7"></label>

            <input asp-for="Input.Email"
                   class="border rounded w-full p-3 focus:outline-none focus:ring-2 focus:ring-primary-600" />

            <span asp-validation-for="Input.Email"
                  class="block text-red-400"></span>
        </div>
        <div class="mb-4">
            <label asp-for="Input.Password"
                   class="mb-2 block font-semibold text-gray-700 text-lg tracking-wide leading-7"></label>

            <input asp-for="Input.Password"
                   class="border rounded w-full p-3 focus:outline-none focus:ring-2 focus:ring-primary-600" />

            <span asp-validation-for="Input.Password"
                  class="block text-red-400"></span>
        </div>
        <div class="mb-6">
            <div class="checkbox">
                <input asp-for="Input.RememberMe"
                       class="inline-block w-4 h-4" />
                <label asp-for="Input.RememberMe"
                       class="inline-block mb-2 block font-semibold text-gray-700 text-lg tracking-wide leading-7">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="">
            <button type="submit" class="px-6 py-2 shadow-md btn text-xl tracking-wide leading-7">Log in</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}